.dz-preview {
    padding: 1rem;
    border-top: 1px solid #e5e7eb;
    border-left: 1px solid #e5e7eb;
    border-right: 1px solid #e5e7eb;
}

.dz-preview:last-of-type {
    border-bottom: 1px solid #e5e7eb;
}

.dz-details {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: #6b7280;
}

.dz-success-mark, .dz-error-mark {
    display: none;
}

.dz-error .dz-error-message {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: #fee2e2;
    color: #dc2626;
}